* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("img/table.webp");
  background-size: cover;
  height: 100svh;
  max-height: 100vh;
  background-repeat: no-repeat;
  color: #e8dba9;
  text-align: center;
}

#container {
  padding: .5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
}

p {
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: .5px;
  text-shadow: 0px 1px 5px #201f1fb3;
}

#remaining {
  margin: -.5em -.85em ;
  padding: .25em;
  padding-right: .5em;
  font-size:1.1rem;
  text-align: start;
  font-weight: 300;
  background-color: #3a3a3a42;
  border-radius: 3px;
  display: inline-block;
  width: fit-content;
  align-self: start;
}

#header {
  margin: 1.25rem 0 ;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: .5px;
  transition: color 0.3s ease, transform 0.15s ease;
}

#computer-score {
  padding: .5em 0;
  color: #ffffff;
  font-weight: 400;
}

#my-score {
  padding: .5em 0 .75em;
  color: #ffffff;
  font-weight: 400;
}

#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.card-slot {
  width: 7.8125em;
  height: 10.9375em;
}

.card {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

button {
  font-family: inherit;
  font-weight: 600;
  background-color: #e8dba9;
  color: #02592b;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: .5px;
  width: 6em;
  height: 2.25em;
  border-radius: 5px;
  border: none;
  transition: transform 0.1s ease, background 0.2s ease;
}

.btn {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  margin-bottom: 1rem;
}

button:active {
  background-color: #d5cdaf;
  transform: scale(0.97);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

@media(min-width:400px) {
  html {
    font-size: 18px;
  }
}

@media(min-width:475px) {
  html {
    font-size: 20px;
  }
    #cards {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }
}
@media(min-width:550px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container {
    max-width: 750px;
    max-height: 600px;
    width: 100%;
    height: 85%;
    background-color: #3a3a3a42;
    border: 5px solid #3433334d;
    border-radius: 16px;
  }
  #remaining {
  background-color: unset
  }

  #header {
    font-size: 2.25rem;
  }

  #my-score {
    margin: 0;
    padding: 0;
    margin-bottom: .25rem;
    text-align: right;
    background-color: unset;
    margin-right: 7.85rem;
  }

  #computer-score {
    margin: 0;
    padding: 0;
    text-align: start;
    margin-left: 7.85rem;
    background-color: unset;
  }

  .card-slot {
    width:8.825em ;
   height: 12.375em;
  }

  .btn {
    justify-content: space-around;
    gap: 0;
  }

}